body,
html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background-image: url("./bg.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body > .grid {
  height: 100%;
}
.column {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 800px;
}
#exams-table {
  margin: 30px;
}
